In [1]:
#pkg imports
import http.client
import json
import csv
import placekey
import pandas as pd
from placekey.api import PlacekeyAPI

In [106]:
#section for configuring input files

fileConfig1 = {
    "filepath": "propertySales",
    "parsetype": "str",
    "query_id": "sale_id",
    "street_address": "address",
    "city": "",
    #"region": "",
    "postal_code": "",
    "location_name": "",
    "latitude":"Y",
    "longitude":"X"
}
fileConfig2 = {
    "filepath": "blightData",
    "parsetype": "str",
    "query_id": "ticket_id",
    "street_address": "mailing_address",
    "city": "city",
    "region": "state",
    "postal_code": "zip_code",
    "location_name": "",
    "latitude":"Y",
    "longitude":"X"
}
apiParams = [
    "query_id",
    "latitude",
    "longitude",
    #"location_name",
    "street_address",
    "city",
    "postal_code",
    "region"
]
defaultParams1 = {
    "iso_country_code": "US",
    "region": "MI",
    "city": "Detroit"
}
defaultParams2 = {
    "iso_country_code": "US",
}
#output / api config
outputname = "output.csv"

apikey = "arYrLpPOiRUUHJfSzWUWmAGuKdnllvcO"
pk_api = PlacekeyAPI(apikey)

In [7]:
dataset1 = pd.read_csv(fileConfig1['filepath'], dtype= object)
dataset2 = pd.read_csv(fileConfig2['filepath'],  dtype= object)

In [99]:
#debug cell
print(dataset1.columns)
print(dataset2.columns)

Index(['X', 'Y', 'sale_id', 'parcel_number', 'address', 'street_number',
       'street_prefix', 'street_name', 'unit_number', 'sale_number',
       'sale_date', 'sale_price', 'grantor', 'grantee', 'liber_page',
       'term_of_sale', 'sale_verification', 'sale_instrument',
       'property_transferred_percentage', 'property_class_code',
       'economic_condition_factor_neigh', 'ESRI_OID'],
      dtype='object')
Index(['X', 'Y', 'ticket_id', 'ticket_number', 'agency_name', 'inspector_name',
       'violator_name', 'violation_street_number', 'violation_street_name',
       'violation_address', 'violation_zip_code', 'violator_id',
       'mailing_address_street_number', 'mailing_address_street_name',
       'mailing_address', 'city', 'state', 'zip_code', 'non_us_str_code',
       'country', 'violation_date', 'ticket_issued_time', 'hearing_date',
       'hearing_time', 'judgment_date', 'ordinance_law',
       'ordinance_description', 'disposition', 'fine_amount', 'admin_fee',
       'state_fee', 'late_fee', 'discount_amount', 'clean_up_cost',
       'judgment_amount', 'payment_amount', 'balance_due', 'payment_date',
       'payment_status', 'collection_status', 'parcelno', 'address_id',
       'updated_at'],
      dtype='object')

In [104]:
#function for building api dataframe
def build_pk_df(df: pd.DataFrame, config: dict, defaults:dict):
    dfColumnMap = {}
    unusedParams = []
    for param in config.keys():
        if config[param] != "" and param in apiParams:
            dfColumnMap[config[param]] = param
        elif param in apiParams:
            unusedParams.append(param)
    api_df: pd.DataFrame = df.rename(columns=dfColumnMap)
    cols = list(dfColumnMap.values())
    api_df = api_df[cols]
    for uParam in unusedParams: 
        api_df[uParam] = None
    for p in defaults.keys():
        api_df[p] = defaults[p]
    api_df["latitude"] = pd.to_numeric(api_df["latitude"])
    api_df["longitude"] = pd.to_numeric(api_df["longitude"])
    return api_df

In [90]:
def getPlacekeys(api_df):
    api_json = json.loads(api_df.to_json(orient="records"))
    api_response = pk_api.lookup_placekeys(api_json)
    response_df = pd.read_json(json.dumps(api_response), dtype={'query_id': str})
    
    return response_df

In [91]:
def mergeData(placekey: pd.DataFrame, original: pd.DataFrame, query_id: str):
    merged_df = pd.merge(original, placekey, right_on= 'query_id', left_on=query_id, how='left')
    if 'error' in merged_df.columns:
        merged_df = merged_df.drop('error', axis=1)
    merged_df = merged_df.drop('query_id', axis=1)
    pk = merged_df.pop('placekey')
    merged_df.insert(0, 'placekey', pk)
    return merged_df

In [125]:
testData1 = dataset1.head(10000)
pk1_df = build_pk_df(testData1, fileConfig1, defaultParams1)
placekeys1 = getPlacekeys(pk1_df)

testData2 = dataset2.head(10000)
pk2_df = build_pk_df(testData2, fileConfig2, defaultParams2)
placekeys2 = getPlacekeys(pk2_df)

/var/folders/t2/nffj08cn41s_fmhrkwg75jq40000gn/T/ipykernel_22673/1732881984.py:4: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  response_df = pd.read_json(json.dumps(api_response), dtype={'query_id': str})
/var/folders/t2/nffj08cn41s_fmhrkwg75jq40000gn/T/ipykernel_22673/1732881984.py:4: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  response_df = pd.read_json(json.dumps(api_response), dtype={'query_id': str})

In [126]:
merged1: pd.DataFrame = mergeData(placekeys1, testData1, "sale_id")
merged2: pd.DataFrame = mergeData(placekeys2, testData2, "ticket_id")

In [121]:
print(merged1)
print(merged2)

                    placekey                  X                 Y  sale_id  \
0            226@63v-4jp-grk  -83.2244456079999  42.3881387340001  3749837
1            22w@63v-456-h89      -83.210322565      42.438586871  4210008
2            23d@63v-458-gx5      -83.209318776      42.415134218  4210338
3            22r@63v-4jh-8sq      -83.161542697  42.3519161610001  3775822
4            234@63v-48v-33q  -83.0740138319999  42.3469416950001  3663543
...                      ...                ...               ...      ...
4995         226@63v-44h-r8v  -83.0652287679999  42.4398406920001  4271219
4996  0io2vdzlyk@63v-44v-59f      -83.115576097      42.361973339  4271220
4997         23b@63v-486-m6k       -83.11501176      42.363990233  4271221
4998         22p@63v-4hq-xt9        -83.1543794       42.38964975  4271222
4999         22d@63v-4b3-26k  -82.9858325719999  42.4279330890001  4271223

     parcel_number              address street_number street_prefix  \
0        22081917.    14006 GLASTONBURY         14006           NaN
1        22061697.    19951 ASBURY PARK         19951           NaN
2        22061878.    16881 ASBURY PARK         16881           NaN
3        18004875.        10322 TIREMAN         10322           NaN
4        06005448.         4158 LINCOLN          4158           NaN
...            ...                  ...           ...           ...
4995     13021586.        19726 WEXFORD         19726           NaN
4996     14002746.   4025 VIRGINIA PARK          4025           NaN
4997     14002894.  3765 W PHILADELPHIA          3765             W
4998     16033461.     13969 CHERRYLAWN         13969           NaN
4999     21020541.        13505 GREINER         13505           NaN

        street_name unit_number  ...                   grantor  \
0       GLASTONBURY         NaN  ...            JOHNSON, KEVIN
1            ASBURY         NaN  ...            COFFEY, MARIAH
2            ASBURY         NaN  ...         MCDOWELL, KAREN R
3           TIREMAN         NaN  ...  MOTOWN PROPERTY SERVICES
4           LINCOLN         NaN  ...      CITY OF DETROIT-P&DD
...             ...         ...  ...                       ...
4995        WEXFORD         NaN  ...   STAR DRACO HOLDINGS LLP
4996  VIRGINIA PARK         NaN  ...    STAR ALLIANCE HOLDINGS
4997   PHILADELPHIA         NaN  ...    STAR ALLIANCE HOLDINGS
4998     CHERRYLAWN         NaN  ...   STAR DRACO HOLDINGS LLP
4999        GREINER         NaN  ...    STAR ALLIANCE HOLDINGS

                       grantee  liber_page       term_of_sale  \
0           NEWBERRY, TARSHISH  51986-1417    03-ARM'S LENGTH
1                 REAL TC LLC    52044-644  21-NOT USED/OTHER
2     MCQUEEN, WILLIE & BESSIE   51982:634  21-NOT USED/OTHER
3                   H.I.G. LLC   51992-709  21-NOT USED/OTHER
4                   CRUSE, ZAC   L.1,P.308  21-NOT USED/OTHER
...                        ...         ...                ...
4995      MIRACLE MILLIONS LLP  2015052591  MULTI PARCEL SALE
4996             HESSONITE LLP  2015052575  MULTI PARCEL SALE
4997             HESSONITE LLP  2015052576  MULTI PARCEL SALE
4998            BLACK ONYX LLP  2015052603  MULTI PARCEL SALE
4999             HESSONITE LLP  2015052577  MULTI PARCEL SALE

                sale_verification sale_instrument  \
0     PROPERTY TRANSFER AFFIDAVIT             PTA
1     PROPERTY TRANSFER AFFIDAVIT             PTA
2     PROPERTY TRANSFER AFFIDAVIT             PTA
3     PROPERTY TRANSFER AFFIDAVIT             PTA
4     PROPERTY TRANSFER AFFIDAVIT             PTA
...                           ...             ...
4995                          NaN              QC
4996                          NaN              QC
4997                          NaN              QC
4998                          NaN              QC
4999                          NaN              QC

     property_transferred_percentage property_class_code  \
0                                100                 401
1                                  0                 401
2                                100                 401
3                                  0                 401
4                                  0                 402
...                              ...                 ...
4995                             100                 401
4996                             100                 401
4997                             100                 401
4998                             100                 401
4999                             100                 401

     economic_condition_factor_neigh ESRI_OID
0                              1R132        1
1                              2R201        2
2                              1R117        3
3                              7R719        4
4                              6R608        5
...                              ...      ...
4995                           1064A     4996
4996                           5R502     4997
4997                           5R502     4998
4998                           9197A     4999
4999                           3R321     5000

[5000 rows x 23 columns]
                    placekey                  X                 Y ticket_id  \
0            23d@63v-483-s89      -83.072568447      42.383356721     18645
1            22d@63v-455-d5f  -83.0724743279999      42.383400361     18646
2            22z@63v-4jd-nqz  -83.1150568159999      42.359928058     18648
3     05bjazmps3@63v-4hy-5xq  -83.1280365109999  42.3934545450001     18649
4            22z@63v-4dt-kpv  -83.1344660399999      42.389668081     18650
...                      ...                ...               ...       ...
4995         223@63v-4j2-jqf                NaN               NaN     23862
4996         239@63v-4hq-xkf      -83.154293335  42.3869155950001     23863
4997  0hht4uo4j7@63v-4kx-9fz      -82.950408406      42.426004017     23864
4998         222@63v-44n-sdv      -83.011129142      42.376174195     23865
4999         222@63v-4hx-8vz      -83.164765181      42.371551654     23866

     ticket_number                                     agency_name  \
0      05001700DAH  Buildings, Safety Engineering & Env Department
1      05001701DAH  Buildings, Safety Engineering & Env Department
2      05001703DAH  Buildings, Safety Engineering & Env Department
3      05001704DAH  Buildings, Safety Engineering & Env Department
4      05001705DAH  Buildings, Safety Engineering & Env Department
...            ...                                             ...
4995   05010813DAH  Buildings, Safety Engineering & Env Department
4996   05009434DAH  Buildings, Safety Engineering & Env Department
4997   05011115DAH  Buildings, Safety Engineering & Env Department
4998   05011366DAH  Buildings, Safety Engineering & Env Department
4999   05009435DAH  Buildings, Safety Engineering & Env Department

       inspector_name     violator_name violation_street_number  \
0        Orbie Gailes         Dean Byrd                     601
1        Orbie Gailes   Cynthia Roberts                     607
2        Orbie Gailes     Dannny Barnes                    4066
3        Orbie Gailes     Gloria Seldon                    3005
4        Orbie Gailes     Bessie Thomas                    4024
...               ...               ...                     ...
4995      Joseph Otis   DEBORAH SANDERS                    2340
4996    Claude O'Neal  Elease Blanchard                   13545
4997    James Doetsch   BORBOM OTTORINO                   11811
4998  Darrin Williams      DENISE SMITH                    4884
4999    Claude O'Neal       Aaron Brown                   11325

     violation_street_name  ... clean_up_cost judgment_amount payment_amount  \
0                     KING  ...           NaN             280              0
1                     KING  ...           NaN               0              0
2                 COLUMBUS  ...           NaN               0              0
3                 PASADENA  ...           NaN               0              0
4                 CLEMENTS  ...           NaN               0              0
...                    ...  ...           ...             ...            ...
4995            GRAND BLVD  ...           NaN               0              0
4996            CHERRYLAWN  ...           NaN             255              0
4997                MORANG  ...           NaN             280              0
4998                PARKER  ...           NaN               0              0
4999               MENDOTA  ...           NaN             280             30

     balance_due            payment_date           payment_status  \
0            280                     NaN       NO PAYMENT APPLIED
1              0                     NaN           NO PAYMENT DUE
2              0                     NaN           NO PAYMENT DUE
3              0                     NaN           NO PAYMENT DUE
4              0                     NaN           NO PAYMENT DUE
...          ...                     ...                      ...
4995           0                     NaN           NO PAYMENT DUE
4996         255  2005/03/09 00:00:00+00       NO PAYMENT APPLIED
4997         280  2005/04/25 00:00:00+00       NO PAYMENT APPLIED
4998           0                     NaN           NO PAYMENT DUE
4999         250  2010/08/18 00:00:00+00  PARTIAL PAYMENT APPLIED

     collection_status      parcelno address_id              updated_at
0       In Collections     03002390.     345038  2005/02/07 10:22:39+00
1                  NaN     03002391.     545718  2019/09/16 10:26:00+00
2                  NaN     14002572.      71363  2005/02/14 17:04:55+00
3                  NaN     12004708.     543356  2019/09/16 10:26:00+00
4                  NaN     14005602.      68819  2019/09/16 10:26:00+00
...                ...           ...        ...                     ...
4995               NaN           NaN        NaN  2005/09/07 15:48:38+00
4996               NaN     16033487.     181936  2005/03/09 00:00:00+00
4997               NaN  21076866.001     544526  2005/04/15 14:31:09+00
4998               NaN     17008866.     477604  2019/09/16 10:26:00+00
4999               NaN     18017272.     212076  2014/05/16 10:07:00+00

[5000 rows x 44 columns]

In [127]:
def mergeDataSets(data1, data2):
    df = data1.merge(data2, how='inner',on='placekey')
    return df
final = mergeDataSets(merged1, merged2)
print(final)
print(final.columns)
print(len(final))
final.to_csv(outputname, index=False)

            placekey                X_x               Y_x  sale_id  \
0    22d@63v-457-3kf      -83.225165621  42.4351922770001  4137441
1    225@63v-4b3-2hq       -82.98520245  42.4285619500001  4347123
2    23n@63v-4j4-3kf  -83.1819290989999  42.4108766370001  4186399
3    227@63v-48z-kzz      -82.922157219  42.4020406700001  4251432
4    23m@63v-455-tgk      -83.154194327      42.421802229  4661279
..               ...                ...               ...      ...
141  229@63v-4j6-9mk      -83.144583703       42.33553671  4042808
142  229@63v-4j6-9mk      -83.144583703       42.33553671  4042808
143  229@63v-4j6-9mk      -83.144583703       42.33553671  4042808
144  224@63v-4dx-9vf  -83.2867776149999  42.4389900690001  3787528
145  22t@63v-4g2-fxq      -83.202503087      42.338036023  4102727

    parcel_number           address street_number street_prefix street_name  \
0       22080084.   19516 GREENVIEW         19516           NaN   GREENVIEW
1       21029834.  18055 SCHOENHERR         18055           NaN  SCHOENHERR
2       22033151.      16207 LESURE         16207           NaN      LESURE
3       21075869.     4176 WOODHALL          4176           NaN    WOODHALL
4       16032221.   17577 NORTHLAWN         17577           NaN   NORTHLAWN
..            ...               ...           ...           ...         ...
141     20008651.       5695 LUMLEY          5695           NaN      LUMLEY
142     20008651.       5695 LUMLEY          5695           NaN      LUMLEY
143     20008651.       5695 LUMLEY          5695           NaN      LUMLEY
144  22124405.001       20083 SALEM         20083           NaN       SALEM
145     22058167.    6417 MANSFIELD          6417           NaN   MANSFIELD

    unit_number  ... clean_up_cost judgment_amount payment_amount balance_due  \
0           NaN  ...           NaN             130              0         130
1           NaN  ...           NaN             280              0         280
2           NaN  ...           NaN             130              0         130
3           NaN  ...           NaN             130              0         130
4           NaN  ...           NaN               0              0           0
..          ...  ...           ...             ...            ...         ...
141         NaN  ...           NaN             280              0         280
142         NaN  ...           NaN               0              0           0
143         NaN  ...           NaN               0              0           0
144         NaN  ...           NaN               0              0           0
145         NaN  ...           NaN             140            140           0

               payment_date      payment_status collection_status    parcelno  \
0                       NaN  NO PAYMENT APPLIED               NaN   22080084.
1                       NaN  NO PAYMENT APPLIED               NaN   21029834.
2                       NaN  NO PAYMENT APPLIED               NaN   22033151.
3                       NaN  NO PAYMENT APPLIED               NaN   21075869.
4                       NaN      NO PAYMENT DUE               NaN   16032221.
..                      ...                 ...               ...         ...
141                     NaN  NO PAYMENT APPLIED               NaN   18011033.
142                     NaN      NO PAYMENT DUE               NaN  18011034-5
143                     NaN      NO PAYMENT DUE               NaN   18011036.
144                     NaN      NO PAYMENT DUE               NaN   16020139.
145  2019/03/05 00:00:00+00        PAID IN FULL               NaN   22058167.

    address_id              updated_at
0       100788  2005/06/21 09:20:47+00
1       541494  2005/04/05 13:42:02+00
2        86417  2005/04/21 15:31:11+00
3       321036  2005/05/06 15:58:10+00
4        11820  2005/03/29 11:43:26+00
..         ...                     ...
141     194923  2005/08/01 16:21:40+00
142     544624  2019/09/16 10:26:00+00
143     195024  2019/09/16 10:26:00+00
144      85504  2014/03/07 00:00:00+00
145     193010  2019/03/05 12:36:00+00

[146 rows x 66 columns]
Index(['placekey', 'X_x', 'Y_x', 'sale_id', 'parcel_number', 'address',
       'street_number', 'street_prefix', 'street_name', 'unit_number',
       'sale_number', 'sale_date', 'sale_price', 'grantor', 'grantee',
       'liber_page', 'term_of_sale', 'sale_verification', 'sale_instrument',
       'property_transferred_percentage', 'property_class_code',
       'economic_condition_factor_neigh', 'ESRI_OID', 'X_y', 'Y_y',
       'ticket_id', 'ticket_number', 'agency_name', 'inspector_name',
       'violator_name', 'violation_street_number', 'violation_street_name',
       'violation_address', 'violation_zip_code', 'violator_id',
       'mailing_address_street_number', 'mailing_address_street_name',
       'mailing_address', 'city', 'state', 'zip_code', 'non_us_str_code',
       'country', 'violation_date', 'ticket_issued_time', 'hearing_date',
       'hearing_time', 'judgment_date', 'ordinance_law',
       'ordinance_description', 'disposition', 'fine_amount', 'admin_fee',
       'state_fee', 'late_fee', 'discount_amount', 'clean_up_cost',
       'judgment_amount', 'payment_amount', 'balance_due', 'payment_date',
       'payment_status', 'collection_status', 'parcelno', 'address_id',
       'updated_at'],
      dtype='object')
146